t-align: center;
}

nav {
    text-align: center;
    margin-top: 20px;
}

nav a {
    margin: 10px;
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: blue;
}

img {
    display: block;
    margin: 20px auto;
    width: 250px;
}
